<div class="panel panel-default">
  <div class="panel-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-4 col-md-3">
          <a href="#" class="thumbnail border-none">
            <img src="https://upload.wikimedia.org/wikipedia/commons/b/b6/Dakota-Hotel-WEB.jpg" alt="HOTEL_NAME thumbnail" width="150" height="150">
          </a>
        </div>
        <div class="col-xs-8 col-md-9">
          <!-- tags ex: Featured Free parking -->
          <span class="label label-danger">Featured</span>
          <span class="label labesl-success">Free parking</span>
          <div class="row">
            <div class="col-xs-8">
              <h4>
                Sura Design Hotel &amp; Suites
              </h4>
            </div>
            <div class="col-xs-4">
              <h4 class="pull-right">$XX.XX <small class="text-gray-650">CAD</small></h4>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <span class="glyphicon glyphicon-star text-lg text-gold" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star text-lg text-gold" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star text-lg text-gold" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star text-lg text-gold" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star-empty text-lg text-gray-600" aria-hidden="true"></span>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-8">
              <span class="glyphicon glyphicon-map-marker text-3xl text-blue-500" aria-hidden="true"></span>
              <span class="text-gray-700 text-sm">Divan Yolu Cad. Ticarethane Sok. No 43 Sultanahmet, Fatih, 34110 Istanbul, Turkey</span>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <button role="button" class="btn btn-primary pull-right">See availability »</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>